<div class="flex justify-center items-center border h-screen">
  <div class="flex items-center gap-[20px]">
    <button class=" rounded-[5px] bg-stone-200 transition duration-200 hover:bg-stone-300 p-[10px] flex justify-center items-center" (click)="increment()">
        <i class="pi pi-plus text-[20px]"></i>
    </button>
    <p class="text-[50px]">{{number()}} </p>
    <button class=" rounded-[5px] bg-stone-200 transition duration-200 hover:bg-stone-300 p-[10px] flex justify-center items-center" (click)="decrement()">
        <i class="pi pi-minus text-[20px]"></i>
    </button>
  </div>
</div>
